html, body, #root, .App{
    height: 100% !important;
    margin: 0;
}

#background {
    height: 84%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;

    background: #3C3C3C;
    border-radius: 10% 10% 0px 0px;
}

@media screen and (max-width: 960px) { 
    #background {
        border-radius: 6% 6% 0px 0px;
    }
}

@media screen and (max-width: 600px) {
    #background {
        border-radius: 40px 40px 0px 0px;
    }
}
